*{padding:0;margin:0;}
ul,li{list-style:none;}
img{border:0;}
a{text-decoration:none;}
.top{margin:0px auto;width:992px;}
.logo{position:relative;padding-left:20px;padding-top:20px;width:992px;height:117px;background-color:transparent;}
.logo ul{float:left;}
.logo li{float:left;padding:10px;vertical-align:middle;height:117px;line-height:117px;}
.logo li span{font-size:22px;color:#40960c;font-weight:bold;}


.middle{margin:0px auto;width:992px;padding-left:20px;padding-top:40px;}
.middle_left{float:left;width:517px;height:431px;border: 2px solid #999999;}
.middle_right{float:left;margin-left:10px;width:356px;height:435px;background:#6FEF10;}
.middle_right table{position:relative;left:50px;top:50px;}
.middle_right ul{position:relative;left:50px;top:50px;overflow:hidden;}
.middle_right ul li{float:left;margin-top:10px;padding:7px;font-size:12px;color:#6a6a6a;}
.middle_right ul li a{color:#FF0000;}
.middle_right ul li a:hover{text-decoration:underline;}
.middle_right table td{width:236px;height:28px;color:#6a6a6a;font-size:12px;}
.middle_right .search_text1{width:200px;height:28px;padding:0px 3px;line-height:22px;background:#fff url(../img/ren.jpg) right center no-repeat;padding-right:20px;}
.middle_right .search_text2{width:200px;height:28px;padding:0px 3px;line-height:22px;background:#fff url(../img/suo.jpg) right center no-repeat;padding-right:20px;}
.middle_right .search_submit2{margin-top:10px;display:block; width:240px;height:36px;background:url(../img/denglu.jpg) no-repeat;border:none;}



.bottom{margin:0px auto;width:992px;height:40px;padding-top:20px;text-align:center;}
.bottom ul{color:#434543; display:inline-block; *display:inline; zoom:1;}
.bottom li{ float:left;padding:1px;height:20px;text-align:center;}
.bottom li a{color:#434543;}
.bottom li font{padding-left:4px;color:#999999;}
.bottom li a:hover{text-decoration:underline;color:#FF0000;}


