*{padding:0;margin:0;}
ul,li{list-style:none;}
img{border:0;}
a{text-decoration:none;}
.header{width:992px;margin:0px auto;}
.header_menu{position:relative;height:36px;overflow:hidden;background:url(../img/top_bg.jpg) repeat-x;border-bottom:0px;}
.header_menu .header_nav ul{height:36px;overflow:hidden;}
.header_menu .header_nav li{float:left;height:36px;line-height:36px;font-size:12px;}
.header_menu .header_nav li a{color:#267519;padding-left:25px;}
.header_menu .header_nav li a:hover{text-decoration:underline;}

.header_menu .header_mid {position:absolute;left:720px;height:36px;overflow:hidden;border-bottom:0px;}
.header_menu .header_mid li{float:left;height:36px;line-height:36px;font-size:12px;}
.header_menu .header_mid li a{color:#cc6600;padding-left:10px;}
.header_menu .header_mid li a:hover{text-decoration:underline;}

.header_menu .header_right{position:absolute;left:850px;height:36px;overflow:hidden;border-bottom:0px;}
.header_menu .header_right li{float:left;height:36px;line-height:36px;font-size:12px;}
.header_menu .header_right li a{color:#0066cc;padding-left:10px;}
.header_menu .header_right li a:hover{text-decoration:underline;}




.logo{width:990px;margin:0px auto;overflow:hidden;}
.logo_bg{padding-left:30px;padding-top:20px;float:left;}
.top{float:left;width:350px;height:36px;padding-top:80px;}
.top li{float:left;padding:5px;line-height:26px;font-size:14px;}
.top li a{ color:#b0b0b0;}


.daohang{width:958px;height:36px;margin:0px auto;margin-top:12px; border-top:solid 1px #7fde18;background:url(../img/lanmu_bg.jpg) repeat-x;}
.daohang ul , .border_right ul{padding-left:17px;}
.daohang li,.border_right li{padding:5px;font-size:12px;float:left;line-height:28px; font-weight:bold;}
.daohang li span a ,.border_right span a{ color:#bb1010;}
.daohang li b a ,.border_right li b a{ color:#dc730d;}
.daohang li p a,.border_right li p a{ color:#881c8f;}

.border{width:990px;margin:0px auto;overflow:hidden;}
.border_left{float:left;margin-left:19px;width:664px;height:1250px;border-left:1px solid #7fde18;border-bottom:1px solid #7fde18;}
.border_left .list{margin-left:5px;height:290px;width:auto;border-bottom:1px solid #7fde18;}
.border_left .list h3{margin-left:9px;margin-top:7px;color:#92a516;}
.border_left .list ul{width:450px; float:left;}
.border_left .list li{margin-left:17px;margin-top:9px;color:#66b6bb;font-size:14px;}
.border_left .list li a{color:#d22dcc;}
.border_left .list span{float:right;color:#f41111;margin-right:90px;margin-top:15px;}

.fanye{width:664px;height:45px;}
.fanye ul{margin-left:106px;margin-top:15px;}
.fanye ul li{float:left;}


.border_right{float:right;margin-right:17px;width:255px;margin-top:3px;height:280px; background:#fceff8;}

.bottom{margin:0px auto;width:992px;height:40px;padding-top:20px;text-align:center;}
.bottom ul{color:#666666; display:inline-block; *display:inline; zoom:1;}
.bottom li{ float:left;padding:1px;height:20px;text-align:center;}
.bottom li a{color:#727272;}
.bottom li font{padding-left:4px;color:#999999;}
.bottom li a:hover{text-decoration:underline;color:#FF0000;}



